
  .links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:var(--firstColorOpacity)

  }


.BranchDeleiveryCard{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color:var(--thirdColor);

    width: 50%;
    margin: auto;

    border: var(--secondColorOpacity) 1px solid;
    color: var(--firstColor);
    font-weight: bold;
    }

.BranchDeleiveryCard:hover{
  background-color: var(--secondColorOpacity);
  cursor: pointer;
}

@media screen and (max-width: 800px) {



}