
.goToOrderBtn{
    /* border: var(--firstColorOpacity) 1px solid; */
    /* color: white; */
    padding:10px;
    border-radius: 10px;
    font-weight: bold;
    width: fit-content;
    font-size: 1.2rem;
    margin:auto;
    opacity: 0.7;
}
.goToOrderBtn:hover{
    background-color:var(--firstColorOpacity);
    opacity:1;
}